<% if user_signed_in? # Show Dashboard %>
	<h1>Dashboard</h1>
	<p>This dashboard is still under construction!</p>
	<%= link_to "Your Qurriculums", qurriculums_path, class: "btn btn-large" %>

<% else # Show landingpage %>
	<h1>Welcome to Qurriculum!</h1>
	<p>This here will be the landingpage. </br>We will host all sorts of nice HTML here, and a nice Call to Action.</p>
	<div class="btn-group">
		<%= link_to "Sign Up Now", new_user_registration_path, class: "btn btn-large btn-success" %>
		<%= link_to "Login", new_user_session_path, class: "btn btn-large"%>
	</div>
<% end %>