<p>
  <b>Vacancy:</b>
  <%= @qurriculum.vacancy %>
</p>

<% if current_user == @qurriculum.user %>
	<%= link_to 'Edit', edit_qurriculum_path(@qurriculum) %> |
	<%= link_to 'Back', qurriculums_path %>
<% end %>
